<!-- Navigation -->
<nav class="navbar navbar-light bg-light static-top">
    <div class="container">
        <form class="form-inline">
            <a class="navbar-brand" href="{% url 'home' %}">TelMe</a>
            <a class="nav-item nav-link" href="#">What's New</a>
            <a class="nav-item nav-link" href="{% url 'products' %}">Products</a>
            <a class="nav-item nav-link" href="#">Compare</a>
        </form>
        <!-- Navbar Right Side -->
        <form class="form-inline">
            <a class="btn btn-outline-primary" href="#">Login</a>
            <a class="btn btn-outline-secondary" href="#">Register</a>
        </form>
    </div>
</nav>