{% extends "webapp/base.html" %} {% load static %} {% load crispy_forms_tags %}{% block content %}
<main role="main" class="container">
    <h1>All Plans</h1>

    <div class="container d-flex justify-content" id="overall">
        <div class="border container h-100 rounded" style="max-width: 300px">
            <h3>Filter</h3>
            <p class='text-muted'>Filter out the plans you like.
                <ul class="list-group">
                    <form method="get">
                        {{ myFilter.form | crispy}}
                        <button class="btn btn-primary" type="submit">Go!</button>
                    </form>
                </ul>
            </p>
        </div>
        <div class="container" style="padding-left: 30px;">
            {% for product in products %}
            <div style="padding-bottom: 10px;">
                <div class="card mb-3" style="max-width: 600px;">
                    <div class="container row no-gutters" style="padding-top: 15px; padding-bottom: 15px;">
                        <div class="col-md-4 d-flex flex-column">
                            {% if product.telco == 'Singtel' %}
                            <img class="card-img img-max" src="{% static 'img/singtel.jpg' %}" alt="Telco"> {% elif product.telco == 'Starhub' %}
                            <img class="card-img img-max" src="{% static 'img/starhub.jpg' %}" alt="Telco"> {% elif product.telco == 'M1' %}
                            <img class="card-img img-max" src="{% static 'img/M1.jpg' %}" alt="Telco"> {% endif %}
                            <span class="container align-self-center d-flex flex-row">
                                <form action="{% url 'like-product' %}" method="POST">
                                    {% csrf_token %}
                                    <input type="hidden" name="product_id" value="{{ product.id }}"> {% if user not in product.liked.all %}
                                    <button class="ui button positive" type="submit">Like</button> {% else %}
                                    <button class="ui button negative" type="submit">Unlike</button> {% endif %}
                                </form>
                                <strong style="margin-left: 10px">{{ product.liked.all.count }} likes</strong>
                            </span>
                        </div>
                        <div class="col-md-8 d-flex">
                            <div class="card-body align-self-center">
                                <h5 class="card-title">{{ product.name }}</h5>
                                <p class="card-text">{{ product.telco }}</p>
                                <p class="card-text">${{ product.price }} <small class="text-muted">per month</small></p>
                                <p class="card-text">Contract length: {{ product.contract }}</p>

                            </div>

                            <div class="border align-self-center" style="height: 150px; width: 1px; border: 1px solid rgb(244, 245, 246);"></div>
                            <div class="card-body">
                                <div class="h-25"></div>
                                <div class="h-25">
                                    <a target="_blank" href="{% url 'product-detail' product.id %}" class="card-link">More Details</a>
                                </div>
                                <div class="h-25">
                                    <a href="#" class="card-link">Visit Site</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% if products.paginator.num_pages > 1 %}
    <!-- start -->
    {% include '_pagination.html' with items=products %}
    <!-- end -->
    {% endif %}
</main>

<script>
    var slider = document.getElementById("myRange");
    var output = document.getElementById("demo");
    output.innerHTML = slider.value;

    slider.oninput = function() {
        output.innerHTML = this.value;
    }
</script>
{% endblock content %}